/* @font-face {
    font-family: 'secure-font';
    src: url('D:/Chuan/TestFontSwap/py/outputs/NotoSans/NotoSans-Variable.ttf') format(truetype);
}

.secure-font {
    font-family: 'secure-font';
} */